*{
margin: 0%;
padding: 0%;
}

.body{
   
    min-height: auto;
    /* background-color: rgb(12, 44, 92); */
}
 @media (max-width:670px) {
    html{
        font-size: 60%;
    }
}
/* @media(max-width:670px) {
    html{
        font-size: 50%;
    }
}  */
